body{
    background-color: rgb(19, 19, 19);
    color: white !important;
}

#subheader{
    background-color: rgb(17, 23, 29) !important;
    color: white !important;
    border-radius: 2px;
}

.toggle-dark-button {
    border-color: whitesmoke !important;
    color: white !important;
}

.toggle-light-button {
    border-color: whitesmoke !important;
    color: white !important;
}

#sidebar_hamburger{
    background-color: white !important;
    color: black !important;
    border-radius: 3px;
}

/* .card-title{
    background-color: cadetblue;
} */

.card-text{
    background-color: rgb(34, 49, 63);
    border-radius: 2px;
    padding: 3px;
    color: white;
}


#lesson_card{
    /* background-color: rgb(29, 77, 43); */
    background-color: rgb(61, 62, 61);
    border-radius: 2px;
    padding: 3px;
    color: white;
    height: 80px;
}

#lesson_title{
    background-color: rgb(41, 66, 49);
    border-radius: 2px;
    padding: 3px;
    color: white;
    width: 100%;
}

#offcanvasScrolling{
    background-color: rgb(17, 23, 29) !important;
    color: white !important;
}

#lesson_description{
    padding: 5px;
    text-align: left;
    margin-bottom: 10px;
}

.lesson_info{
    padding: 5px;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

#lesson_price{
    font-size: 1.2rem;
    font-weight: bold;
    color: yellow;
}

.lesson_info #items_left{
    color: lightgreen;
    font-weight: bold;
}

#addToCartBtn{
    background-color: rgb(26, 28, 26);
    padding: 5px;
    color: white;
    font-weight: semi-bold;
    border-radius: 7px;
}

#addToCartBtn:disabled{
    background-color: rgb(140, 140, 140);
    color: #e0e0e0;
    cursor: not-allowed;
    opacity: 0.7; 
    border-radius: 7px; 
}

