body{
    background-color: white
}

.toggle-dark-button {
    border-color: whitesmoke !important;
    color: white !important;
}

.toggle-light-button {
    border-color: whitesmoke !important;
    color: white !important;
}
